body{
    background-color: #BB1641;
}
.achtergrond{
    width: 100vw;
    height: 100vh;
    background-color: #BB1641;
    margin-top: -5px;
    padding-top: 80px;
}
.logo{
    width: 850px;
    height: 450px;
    margin-right: 150px;
    margin-left: 150px;
    margin-top: -20px;
    background-image: url("../foto's/logo2.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.login{
    width: 800px;
    height: 250px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 250px;
    border-radius: 40px;
    background-color: #9F173A;
}
.input{
    background-color: #9F173A;
    border: none;
    width: 550px;
    height: 100px;
    margin-left: 200px;
    padding-left: 25px;
    color: white;
    font-size: 40px;
    margin-top: 12px;
    border-left: 1px solid black;
}
.input2{
    background-color: #9F173A;
    border: none;
    width: 500px;
    height: 100px;
    margin-left: 200px;
    padding-left: 25px;
    color: white;
    font-size: 40px;
    border-left: 1px solid black;
}
.icon{
    width: 80px;
    height: 80px;
    position: absolute;
    margin-top: 25px;
    margin-left: 50px;
}
.icon2{
    width: 80px;
    height: 80px;
    position: absolute;
    margin-left: 50px;
    margin-top: 10px;
}
.line{
    border-color: black;
    width: 775px;
    border-bottom-width: 0;
    margin-top: 10px;
}
::placeholder{
    color: white;
}
.vergeten{
    color: white;
    text-decoration-line: none;
    margin-top: 150px;
    position: absolute;
    text-align: center;
    margin-left: -550px;
    font-size: 40px;
    padding-top: 20px;
    font-family: Arial;
}
.bevestig{
    width: 650px;
    height: 100px;
    background-color: white;
    color: #BB1641;
    border-radius: 35px;
    position: absolute;
    font-size: 40px;
    margin-top: 350px;
    margin-left: -650px;
    font-weight: bold;
}